{% extends "base.html" %}

{% block content %}

{% if form.errors and form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}



<form action="" method="post">
    {% csrf_token %}

    <label for="username" class="form-label">Username </label>
    <input type="text" name="username" class="form-control" id="username" 
        value="{{ form.username.value|default_if_none:'' }}"
        required/>

    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password"
        required/>

    <button type="submit" class="btn btn-primary mt-2 ">Login</button>
</form>


{% endblock content %}